# PHP / Composer
/vendor/
.env

# ne PAS ignorer composer.lock
# composer.lock

# Coverage
/coverage/

# IDE / OS
.DS_Store
Thumbs.db
*.log

# Node
/node_modules/
/server/node_modules/
npm-debug.log*

# XAMPP / assets
/public/assets/images/
