<IfModule mod_rewrite.c>
  RewriteEngine On

  # Exclure le dossier documents_pdf des réécritures
  RewriteRule ^documents_pdf/ - [L]

  # Tout autre chemin non-fichier passe par index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . index.php [L]
</IfModule>
