<IfModule mod_rewrite.c>
  RewriteEngine On
  # Ne pas réécrire les URLs sous /documents_pdf
  RewriteRule ^documents_pdf/ - [L]

  # Toutes les autres requêtes continuent vers index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . index.php [L]
</IfModule>
